<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="jumbotron" style="background-image: url( 'background.jpg' ) !important">
		<div class="container">
			<font color="white">
				<h1>Welcome to ByteMe</h1>
				<p>We strive to provide you with the best quality computers at low prices</p>
			</font>
			<p><a class="btn btn-primary btn-lg" href="#" role="button">Log in</a>
			<a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a></p>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			{% if computers %}
			{% for computer in computers %}
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<h2>{{computer.make}} {{computer.model}}</h2>
				<p><a class="btn btn-default" href="/computerdetail/{{ computer.computer_id }}/" role="button">View
					details &raquo;</a></p>
			</div>
			{% endfor %}
			{% else %}
			<strong>There are no computers in stock.</strong>
			{% endif %}

		</div>
	</div>

</body>
</html>
